= render 'carousel'

// MARKETING
#marketing_container.inner.cover
  .row
    .col-lg-4.col-md-6.col-xs-12
      = image_tag("SOAT.jpg", alt: "Generic placeholder image", height: 140, width: 140, class: "img-circle")
      %h2 MOTOS
      %p 
      %p
       
    .col-lg-4.col-md-6.col-xs-12
      = image_tag("SOAT.jpg", alt: "Generic placeholder image", height: 140, width: 140, class: "img-circle")
      %h2 CARROS
      %p 
      %p
        
    .col-lg-4.col-md-6.col-xs-12
      = image_tag("SOAT.jpg", alt: "Generic placeholder image", height: 140, width: 140, class: "img-circle")
      %h2 CAMIONES
      %p 
      %p
        
